<div class="p-4 xl:ml-80  ">
  <nav class="block w-full max-w-full bg-transparent text-white shadow-none rounded-xl transition-all px-0 py-1">
    <div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center">
      <div class="capitalize">
        <nav aria-label="breadcrumb" class="w-max">
          <ol class="flex flex-wrap items-center w-full bg-opacity-60 rounded-md bg-transparent p-0 transition-all">
            <li class="flex items-center text-blue-gray-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">
              <a href="#">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-900 font-normal opacity-50 transition-all hover:text-blue-500 hover:opacity-100">dashboard</p>
              </a>
              <span class="text-gray-500 text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
            </li>
            <li class="flex items-center text-blue-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-blue-500">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">home</p>
            </li>
          </ol>
        </nav>
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-900 dark:text-gray-300">home</h6>
      </div>
      <button type="button" class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 grid xl:hidden">
        <!-- Icono de menú -->
      </button>
      <ul class="nav-items">
        <li class="dropdown ml-3">
          <button type="button" class="dropdown-toggle flex items-center">
            <div class="flex-shrink-0 w-10 h-10 relative">
              <div class="p-1 bg-white rounded-full focus:outline-none focus:ring">
                <img [src]="imagenUrl(user)" id="myImage" class="profile-image w-8 h-8 rounded-full object-cover border-4 border-gray-300">
                <div class="top-0 left-7 absolute w-3 h-3 bg-lime-400 border-2 border-white rounded-full animate-ping"></div>
                <div class="top-0 left-7 absolute w-3 h-3 bg-lime-500 border-2 border-white rounded-full"></div>
              </div>
            </div>
            <div class="p-2 md:block text-left">
              <h2 class="text-sm font-semibold text-gray-800 dark:text-gray-300">{{ user.first_name }} {{ user.last_name }}</h2>
              <p class="text-xs text-gray-500">{{ user.is_staff }}</p>
            </div>
          </button>
          <ul class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px] dark:bg-gray-800">
            <li>
              <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-[#f84525] hover:bg-gray-50 dark:hover:bg-gray-700">Profile</a>
            </li>
            <li>
              <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-[#f84525] hover:bg-gray-50 dark:hover:bg-gray-700">Settings</a>
            </li>
            <li>
              <form method="POST" action="">
                <a role="menuitem" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-[#f84525] hover:bg-gray-50 cursor-pointer dark:hover:bg-gray-700"
                   onclick="event.preventDefault(); this.closest('form').submit();">
                  Log Out
                </a>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
