
<div class="Containaermayor">
    <table class="table">
    <div class="container">
    <h4 class="texto">Dia Mes Año <br> Hora</h4>           
    <table class="table table-bordered">
        <tr>
        <th>Mes</th>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th>Octubre</th>
        <th>Noviembre</th>
        <th>Diciembre</th>
        </tr>
        <tr>
        <th>Temperatura Maxima</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <th>Temperatura Minima</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <th>Temperatura Promedio</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
    </table>
    </div>
    </table>

    <div class="Botton">
        <a href="Datos Exportados.xlsx">
        <button type="button" class="btn btn-outline-success"><img src="../assets/img/Iconoexel.png"> <br> Exportar</button>
        </a>
    </div>
    </div>
