<app-home></app-home>
<app-header></app-header>
<div class="container mx-auto p-5">
    <h4 class="text-center text-lg font-bold mb-5">Datos de Temperatura por Mes <br> <span class="text-sm">Dia Mes Año <br> Hora</span></h4>           

    <div class="overflow-x-auto rounded-lg shadow-lg">
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="bg-gray-200 text-gray-700">
                    <th class="px-4 py-2 border">Mes</th>
                    <th class="px-4 py-2 border">Enero</th>
                    <th class="px-4 py-2 border">Febrero</th>
                    <th class="px-4 py-2 border">Marzo</th>
                    <th class="px-4 py-2 border">Abril</th>
                    <th class="px-4 py-2 border">Mayo</th>
                    <th class="px-4 py-2 border">Junio</th>
                    <th class="px-4 py-2 border">Julio</th>
                    <th class="px-4 py-2 border">Agosto</th>
                    <th class="px-4 py-2 border">Septiembre</th>
                    <th class="px-4 py-2 border">Octubre</th>
                    <th class="px-4 py-2 border">Noviembre</th>
                    <th class="px-4 py-2 border">Diciembre</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-100">
                    <th class="px-4 py-2 border">Temperatura Máxima</th>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                </tr>
                <tr>
                    <th class="px-4 py-2 border">Temperatura Mínima</th>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                </tr>
                <tr class="bg-gray-100">
                    <th class="px-4 py-2 border">Temperatura Promedio</th>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                    <td class="px-4 py-2 border"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-5 text-center ">
        <a href="Datos Exportados.xlsx">
            <button type="button" class="flex items-center justify-center px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600 transition duration-200">
                <img src="../assets/img/Iconoexel.png" class="mr-2" alt="Exportar"> Exportar
            </button>
        </a>
    </div>
</div>
