<body>
  <div class="container">
    <h1>Registros de Granja</h1>
    <div class="d-flex justify-content-center mb-4">  
      <div class="row">
        <div class="col-auto">
          <button class="btn btn-outline-dark" type="button" routerLink="/form-granja">Nuevo Registro</button>
        </div>
        <div class="col">
          <input class="form-control" type="search" placeholder="Buscar" [(ngModel)]="filter.searchTerm" name="searchTerm">
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover custom-table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre de la Granja</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Email</th>
          <th scope="col">Id Usuario</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let granja of filterGranjas()">
          <th scope="row">{{ granja.id_granja }}</th>
          <td>{{ granja.nombre_granja }}</td>
          <td>{{ granja.direccion }}</td>
          <td>{{ granja.telefono }}</td>
          <td>{{ granja.email }}</td>
          <td>{{ granja.id_usuario }}</td>
          <td>
            <button type="button" class="btn btn-primary" [routerLink]="['/form-granja', granja.id_granja]">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="delete(granja)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
  