<body>
  <div class="gauge">
    <div class="progress">
      <div class="bar"></div>
      <div class="needle"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <h2>Temperatura</h2>
      <p>24ºC</p>
    </div>
  </div>
  <br>  
  <div class="gauge">
    <div class="progress">
      <div class="bar"></div>
      <div class="needle"></div>
    </div>
  </div>  
  <div class="card">
    <div class="card-content">
      <h2>Humedad</h2>
      <p>60%</p>
    </div>
  </div>
</body>
  
  
  