<app-home></app-home>
<app-header></app-header>
    <div class="container">
      <h1 class="font-bold text-2xs">REGISTRAR GRANJA</h1>
      <form (ngSubmit)="create()" #granjaForm="ngForm">

        <div class="input-container">
          <div class="icon-container bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40">
            <span class="material-symbols-outlined">
              house
              </span>
          </div>
        <input type="text" id="nombre_granja" name="nombre_granja" placeholder="Nombre de la Granja" [(ngModel)]="granja.nombre_granja" required>
        </div>
        <div class="input-container">
          <div class="icon-container bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40">
            <span class="material-symbols-outlined">
              map
              </span>
          </div>
        <input type="text" id="direccion" name="direccion" placeholder="Direccion" [(ngModel)]="granja.direccion" required>
        </div>
        <div class="input-container">
          <div class="icon-container bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40">
            <span class="material-symbols-outlined">
              phone_in_talk
              </span>
          </div>
        <input type="number" id="telefono" name="telefono" placeholder="Telefono" [(ngModel)]="granja.telefono" required>
        </div>
        <div class="input-container">
          <div class="icon-container bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40">
            <span class="material-symbols-outlined">
              attach_email
              </span>
          </div>
        <input type="text" id="email" name="email" placeholder="Email" [(ngModel)]="granja.email" required>
        </div>
        <div class="input-container">
          <div class="icon-container bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40">
            <span class="material-symbols-outlined">
              account_circle
              </span>
          </div>
        <input type="number" id="id_usuario" name="id_usuario" placeholder="Id_Usuario" [(ngModel)]="granja.id_usuario" required>
        </div>
        <button class="btn btn-primary" type="submit" *ngIf="!granja.id_granja else elseBlock">Registrar</button>
        <ng-template #elseBlock>
          <button class="btn btn-primary" type="button" (click)="update()">Actualizar</button>
        </ng-template>
      </form>
    </div>
  
  