<body>
<div id="contenedor">
       

    <div id="central">
        <div class="n1">
         COPIA DE SEGURIDAD
        </div>
        <div id="login">
            <div class="titulo">
                Bienvenido
            </div>
            
            <form id="loginform">
                <input type="text" name="nombre de la copia " placeholder="nombre de la copia" required>
                
                <input type="date" placeholder="fecha" name="fecha" required>
                
                <button type="submit" title="Aceptar" name="Aceptar">Aceptar</button>
            </form>
            <div class="pie-form">
                <h5>REAL TIME DT</h5>
            </div>
        </div>
        
    </div>
</div>
</body>