<body>
<div class="container">
    <h1>Configuración</h1>
    <div class="options">
        <a class="option" routerLink="establecer">Establecer Parámetros</a>
    </div>    
    <div class="options">    
        <a class="option" routerLink="exporda">Exportar Datos</a>
    </div>    
    <div class="options">    
        <a class="option" routerLink="registrar-g">Registrar Granja</a>
    </div>
    <div class="options">    
        <a class="option" routerLink="registrar-encargado">Registrar Encargado</a>
    </div>
    <div class="options">    
        <a class="option" routerLink="registrar-galpon">Registrar Galpon</a>
    </div>
    <div class="options">    
        <a class="option" routerLink="registro-usuario">Registro Usuario</a>
    </div>
    <div class="options">    
        <a class="option" routerLink="mediciones">Mediciones</a>
    </div>
    <div class="options">
        <a class="option" routerLink="copia-S">Copia de Seguridad</a>
    </div>    
    <div class="options">    
        <a class="option" routerLink="historial">Historial de Datos</a>
    </div>
</div>
</body>