*{
    background: #ffffff;
    color: black;
}
body{
    background: #84BCDA;
}

.title{
    text-align: center;
    color: white;
}
.cont{
    color: white;
    display: grid;
    grid-template-columns: 1fr;
justify-content: center;
place-items: center;
height: 100vh; 
}
.card-body{
    display: flex;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

}
.Texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}
.card-body{
    border-radius: 5px;
    background:#84BCDA;
}
.botton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    background: #84BCDA;
    
}
.card-title{
    background: #ECC30B;
}
.img-thumbnail{
    width: 170px;
    height: 150px;
    background: transparent;
    border: #0f569e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
    .btnclosee{
    background: #84BCDA;
    display: flex;
    justify-content: end;
}
.clossse{
    background: #84BCDA;
}

